BASE_URL=""
DJANGO_SECRET_KEY=""
DEBUG=
DB_URL=""
CONN_MAX_AGE=30
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL=""

STRIPE_SECRET_KEY=""


ADMIN_USER_NAME=""
AMIN_USER_EMAIL=""

REDIS_URL=""

ADMIN_URL=""