{% extends 'base.html' %}
{% load static %}

{% block title %}
Error 400
{% endblock %}

{% block content %}
<div class="page">
    <div class="main-error-wrapper page page-h">
        <h1 class="text-white">400<span class="tx-20">Bad Request</span></h1>
        <h2 class="text-white">Oops! Something went wrong with your request.</h2>
        <h6 class="tx-white-6">Looks like the request can't be processed. Try again or contact support if the problem continues.</h6>
    </div>
</div>
{% endblock %}

