{% extends 'base.html' %}
{% load static %}

{% block title %}
Error 404
{% endblock %}

{% block content %}
<div class="container" style="background-color: green !important;">
    <div class="page">
        <div class="main-error-wrapper page page-h">
            <h1 class="text-white">404<span class="tx-20">Not Found</span></h1>
            <h2 class="text-white">We couldn’t find that page.</h2>
            <h6 class="tx-white-6">The link may be broken or the page might have been moved. Double check the URL or head back to the homepage.</h6>
        </div>
    </div>
</div>
{% endblock %}
