{% load static %}
<!-- sidebar-wrapper -->
<nav id="sidebar" class="sidebar-wrapper sidebar-dark">
    <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
        <div class="sidebar-brand">
            <a href="{% url 'dashboard:dashboard_home' %}">
                <img src="{% static 'img/logo-green.svg' %}" height="24" class="logo-light-mode" alt="">
                <img src="{% static 'img/logo-green.svg' %}" height="24" class="logo-dark-mode" alt="">
                <span class="sidebar-colored">
                    <img src="{% static 'img/logo-green.svg' %}" height="24" alt="">
                </span>
            </a>
        </div>

        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-home me-2"></i>Dashboard</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'dashboard:dashboard_home' %}">Main Dashboard</a></li>
                        {% if request.user.owned_organization %}
                        <li>
                            <a href="{% url 'dashboard:customize_dashboard' %}">
                                Select Main Dashboard Metrics
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-database"></i>Datasets</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'dashboard:analytics:upload_data' %}">Upload New Dataset</a></li>
                        <!-- Si en el futuro agregas una vista para gestionar datasets -->
                        <!-- <li><a href="#">Manage Datasets</a></li> -->
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-chart-line"></i>Reports</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'dashboard:analytics:request_report' %}">Request New Report</a></li>
                        <li><a href="{% url 'dashboard:analytics:report_list_view' %}">Reports List</a></li>
                    </ul>
                </div>
            </li>
        </ul>


        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-users"></i> Org. Members</a>
                <div class="sidebar-submenu">
                    <ul>
                        {% if request.user.owned_organization %}
                            <li><a href="{% url 'dashboard:invite_member' %}">Invite Members</a></li>
                        {% endif %}
                        <li>
                            <a href="{% url 'dashboard:organization_users' %}">
                                Organization Members
                            </a>
                        </li>                        
                    </ul>
                </div>
            </li>
        </ul> 
        
        {% if request.user.is_staff %}
        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)">
                    <i class="ti ti-database-export"></i> Admin Tools
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="{% url 'dashboard:analytics:staff_dataset_list' %}">
                                All Datasets (Staff)
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        {% endif %}

    </div>
</nav>
<!-- sidebar-wrapper  -->