{% load static %}
<!-- Top Header -->
<div class="top-header">
    <div class="header-bar d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <a href="#" class="logo-icon me-3">
                <img src="{% static 'img/logo-green.svg' %}" height="30" class="small" alt="">
                <span class="big">
                    <img src="{% static 'img/logo-green.svg' %}" height="24" class="logo-light-mode" alt="">
                    <img src="{% static 'img/logo-green.svg' %}" height="24" class="logo-dark-mode" alt="">
                </span>
            </a>
            <a id="close-sidebar" class="btn btn-icon btn-soft-light">
                <i class="ti ti-menu-2"></i>
            </a>
        </div>

        <ul class="list-unstyled mb-0">
            

            <li class="list-inline-item mb-0 ms-1">
                <div class="dropdown dropdown-primary">
                    
                    <button type="button" class="btn btn-soft-light dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if request.user.profile.profile_picture %}
                            <img src="{{ request.user.profile.profile_picture.url }}" class="avatar avatar-ex-small rounded" alt="Profile Picture">
                        {% else %}
                            <img src="{% static 'dashboard/img/default_avatar.png' %}" class="avatar avatar-ex-small rounded" alt="Default Profile Picture">
                        {% endif %}
                    </button>                    

                    <div class="dropdown-menu dd-menu dropdown-menu-end shadow border-0 mt-3 py-3" style="min-width: 200px;">
                        <a class="dropdown-item d-flex align-items-center text-dark pb-3" href="{% url 'dashboard:profile' %}">
                            {% if request.user.profile.profile_picture %}
                                <img src="{{ request.user.profile.profile_picture.url }}" class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                            {% else %}
                                <img src="{% static 'dashboard/img/default_avatar.png' %}" class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                            {% endif %}
                            <div class="flex-1 ms-2">
                                <span class="d-block">{{ request.user.username }}</span>
                                <small class="text-muted">
                                    {% if owned_org %}
                                        Owner of <strong>{{ owned_org.name }}</strong>
                                    {% elif member_org %}
                                        Member of <strong>{{ member_org.name }}</strong>
                                    {% else %}
                                        Not part of an organization
                                    {% endif %}
                                </small>                                                                
                            </div>                            
                        </a>
                        <a class="dropdown-item text-dark" href="{% url 'dashboard:profile' %}"><span class="mb-0 d-inline-block me-1"><i class="ti ti-user"></i></span> My Profile</a>                   
                        {% if request.user.owned_organization %}
                            <a class="dropdown-item text-dark" href="{% url 'subscriptions:organization_subscription' org_id=request.user.owned_organization.id %}">
                                <span class="mb-0 d-inline-block me-1"><i class="ti ti-id-badge"></i></span> My Subscription
                            </a>
                        {% endif %}
                        <a class="dropdown-item text-dark" href="{% url 'accounts:logout' %}"><span class="mb-0 d-inline-block me-1"><i class="ti ti-logout"></i></span> Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Top Header -->