{% load static %}
<!-- sidebar-wrapper -->
 <!-- <nav id="sidebar" class="sidebar-wrapper sidebar-dark" style="background-color: rgb(80, 196, 80) !important;"> -->
<nav id="sidebar" class="sidebar-wrapper sidebar-dark">
    <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
        <div class="sidebar-brand">
            <a href="{% url 'labs:labs_dashboard_home' %}" style="display: flex; align-items: center; gap: 6px;">
                
                
                {% if org_logo %}
                    <img src="{{ org_logo }}" height="28" alt="{{ org_name }}">
                {% else %}
                    <img src="{% static 'img/logo-white.svg' %}" height="28" alt="ModelMint logo">
                {% endif %}

                <!-- <span style="font-family: 'Poppins', sans-serif; font-size: 1.4rem; font-weight: bold; color: white;">
                    MODEL<span style="color: #00FF7F;">MINT</span>
                </span> -->
                <span style="background-color: white; color: #00c266; font-size: 1rem; font-weight: 600; padding: 2px 6px; border-radius: 6px;">
                    LABS
                </span>
            </a>
        </div>


        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-home me-2"></i>Notebooks</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            {% if owned_org %}
                                <a href="{% url 'labs:labs_dashboard_home' %}">{{ owned_org.name }} Notebooks</a>
                            {% elif member_org %}
                                <a href="{% url 'labs:labs_dashboard_home' %}">{{ member_org.name }} Notebooks</a>
                            {% else %}
                                <a href="{% url 'labs:labs_dashboard_home' %}">All Notebooks</a>
                            {% endif %}
                            
                        </li>
                        <li><a href="{% url 'labs:my_notebooks' %}">
                            My Notebooks</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-users"></i> Org. Members</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'labs:invite_lab_member' %}">Invite Members</a></li>
                        <li>
                            <a href="{% url 'labs:labs_organization_users' %}">
                                Organization Members
                            </a>
                        </li>                        
                    </ul>
                </div>
            </li>
        </ul> 
    </div>
</nav>
<!-- sidebar-wrapper  -->