{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}
<section class="page-banner-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="page-title-wrapper">
                    <div class="page-title-inner">
                        <h1 class="page-title">Let's Connect & Elevate Your Data</h1>

                        <p>
                            Have questions? Need insights? Our team is here to help!  
                            Whether it’s <b>AI-driven reports, machine learning solutions, or custom analytics</b>,  
                            we’re just a message away. Let’s build something incredible together!
                        </p>
                    </div>
                    <!-- /.page-title-inner -->
                </div>
                <!-- /.page-title-wrapper -->
            </div>
            <!-- /.col-lg-8 -->

            <div class="col-lg-4">
                <div class="animate-element-contact">
                    <img src="{% static 'img/animated/contact-animated.svg' %}" alt="man" class="wow pixFadeUp" data-wow-duration="2s">
                </div>
                <!-- /.animate-element-contact -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <svg class="circle" data-parallax='{"y" : 250}' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="950px" height="950px">
        <path fill-rule="evenodd" stroke="rgb(250, 112, 112)" stroke-width="100px" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.051" fill="none" d="M450.000,50.000 C670.914,50.000 850.000,229.086 850.000,450.000 C850.000,670.914 670.914,850.000 450.000,850.000 C229.086,850.000 50.000,670.914 50.000,450.000 C50.000,229.086 229.086,50.000 450.000,50.000 Z" />
    </svg>

    <ul class="animate-ball">
        <li class="ball"></li>
        <li class="ball"></li>
        <li class="ball"></li>
        <li class="ball"></li>
        <li class="ball"></li>
    </ul>
</section>
<!-- /.page-banner -->

<!--===========================-->
<!--=         Contact         =-->
<!--===========================-->
<section class="contactus">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="contact-forms">
                    <form method="POST" class="contact-form">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                <label for="{{ form.name.id_for_label }}">Full Name <span style="color: red;">*</span></label>
                                {{ form.name }}
                            </div>

                            <div class="col-md-6">
                                <label for="{{ form.email.id_for_label }}">Email Address <span style="color: red;">*</span></label>
                                {{ form.email }}
                            </div>
                        </div>

                        <label for="{{ form.subject.id_for_label }}">Subject</label>
                        {{ form.subject }}

                        <label for="{{ form.content.id_for_label }}">Your Message <span style="color: red;">*</span></label>
                        {{ form.content }}

                        <button type="submit" class="pix-btn submit-btn">
                            <span class="btn-text">Send Your Message</span>
                            <i class="fas fa-spinner fa-spin"></i>
                        </button>

                        <div class="row">
                            <div class="form-result alert">
                                <div class="content"></div>
                            </div>
                        </div>
                    </form>

                    {% if messages %}
                        <div class="alert alert-success">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.contactus -->
{% endblock content %}