{% load static %}
<section class="banner banner-one">
    <div class="circle-shape" data-parallax='{"y" : 230}'><img src="{% static 'img/banner/circle-shape.png' %}" alt="circle"></div>
    <div class="container">
        <div class="banner-content-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="banner-title wow pixFadeUp" data-wow-delay="0.3s">
                            Turn Your <span>Data </span> into <span>Insights</span>, Predictions & AI-Powered <span>Solutions</span>
                        </h1>

                        <p class="description wow pixFadeUp" data-wow-delay="0.5s">
                            Unlimited Data Science & ML – No Limits, No Hassles.
                        </p>

                        <a href="#" class="pxs-btn banner-btn wow pixFadeUp" data-wow-delay="0.6s">Start leveraging your data now!</a>
                    </div><!-- /.banner-content -->
                </div><!-- /.col-lg-6 -->

                <div class="col-lg-6">
                    <div class="promo-mockup wow pixFadeLeft">
                        <img src="{% static 'img/banner/macbook.png' %}" alt="mpckup">
                    </div><!-- /.promo-mockup -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.banner-content-wrap -->
    </div><!-- /.container -->

    <div class="bg-shape">
        <img src="{% static 'img/banner/shape-bg.png' %}" alt="">
    </div>
</section>