{% load static %}
<section class="editor-design">
    <div class="container">
        <div class="row">

            <div class="editure-feature-image wow pixFadeRight">
                <div class="image-one" data-parallax='{"x" : 30}'>
                    <img src="{% static 'img/feature/4.png' %}" class="wow pixFadeRight" data-wow-delay="0.3s" loading="lazy" alt="Data Insights Illustration">
                </div>
                <div class="image-two">
                    <div class="image-two-inner" data-parallax='{"x" : -30}'>
                        <img src="{% static 'img/feature/41.png' %}" loading="lazy" style="max-width: 320px; max-height: 280px; width: 100%; height: auto; position: relative; z-index: 2; margin-top: 20px;" class="wow pixFadeLeft" data-wow-delay="0.5s" alt="AI Data Processing Illustration">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 offset-lg-6">
                <div class="editor-content">
                    <div class="section-title style-two">
                        <h2 class="title wow pixFadeUp" data-wow-delay="0.3s">
                            Your Unlimited <span style="color:#2bba64;">AI-Powered</span> Data Science Hub
                        </h2>

                        <p class="wow pixFadeUp" data-wow-delay="0.5s">
                            Transform Raw Data into Growth-Driving Decisions
                        </p>
                    </div>

                    <div class="description wow pixFadeUp" data-wow-delay="0.7s">
                        <p>
                            Forget complex coding or expensive consultants. <b>ModelMint turns your spreadsheets into actionable insights, AI-powered predictions, and automated reports</b>—effortlessly. <br><br>

                            Whether it's trend analysis, forecasting, or custom metrics, <b>our platform grows with your business</b> and adapts to your needs—no technical skills required. <br><br>

                            Upload your data. Define your objective. <b>ModelMint does the rest.</b>
                        </p>

                        <a href="{% url 'accounts:register' %}" class="pix-btn wow pixFadeUp" data-wow-delay="0.9s">
                            Get Started with ModelMint
                        </a>
                    </div>
                </div><!-- /.editor-content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="shape-bg">
        <img src="{% static 'img/background/shape_bg.png' %}" loading="lazy" class="wow fadeInLeft" alt="Decorative Background">
    </div>
</section>
