{% load static %}
<section class="editor-design">
    <div class="container">
        <div class="row">

            <div class="editure-feature-image wow pixFadeRight">
                <div class="image-one" data-parallax='{"x" : 30}'>
                    <img src="{% static 'img/feature/4.png' %}" class="wow pixFadeRight" data-wow-delay="0.3s" alt="feature-image">
                </div>
                <div class="image-two">
                    <div class="image-two-inner" data-parallax='{"x" : -30}'>
                        <img src="{% static 'img/feature/41.png' %}" class="wow pixFadeLeft" data-wow-delay="0.5s" alt="feature-image">
                    </div>
                </div>

            </div>

            <div class="col-lg-6 offset-lg-6">
                <div class="editor-content">
                    <div class="section-title style-two">
                        <h2 class="title wow pixFadeUp" data-wow-delay="0.3s">
                            Your UNLIMITED ML-Powered Data Science Hub
                        </h2>

                        <p class="wow pixFadeUp" data-wow-delay="0.5s">
                            Turn Raw Data into Smart Decisions
                        </p>
                    </div>

                    <div class="description wow pixFadeUp" data-wow-delay="0.7s">
                        <p>
                            Stop guessing, start knowing. Our AI transforms your <b>spreadsheets 
                            into actionable insights, predictive models, and automated reports</b>—in just a few clicks. <br><br>

                            Seamless, Scalable, and Always Improving! <br><br>
                            From real-time analytics to AI-driven forecasting, our platform grows with you—no tech skills required.<br><bR>
                            Upload your data. Set your goal. Get sh*t done!
                        </p>

                        <a href="{% url 'accounts:register' %}" class="pix-btn wow pixFadeUp" data-wow-delay="0.9s">Discover the future of data science today!</a>
                    </div>
                </div><!-- /.editor-content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="shape-bg">
        <img src="{% static 'img/background/shape_bg.png' %}" class="wow fadeInLeft" alt="shape-bg">
    </div>
</section>