{% load static %}
<section class="featured">
    <div class="container">
        <div class="section-title text-center wow pixFade">
            <h3 class="sub-title">How It Works</h3>
            <h2 class="title">Seamless AI-Powered Data Science in Three Steps</h2>
        </div><!-- /.section-title -->

        <div class="row">
            <div class="col-md-4">
                <div class="saaspik-icon-box-wrapper style-one wow pixFadeLeft" data-wow-delay="0.3s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/1.png' %}" alt="">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Effortless Data Upload</a></h3>
                        <p class="mt-1">Simply drag and drop your CSV or Excel files—our team and tech will handle the rest.</p>
                    </div>
                </div><!-- /.pixsass-box style-one -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="saaspik-icon-box-wrapper style-one wow pixFadeLeft" data-wow-delay="0.5s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/2.png' %}" alt="">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">AI-Driven Insights & Reports</a></h3>
                        <p class="mt-1">Tell us your objective, and we’ll generate <b>actionable reports, predictions, and ML-powered insights.</b></p>
                    </div>
                </div><!-- /.pixsass-box style-one -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="saaspik-icon-box-wrapper style-one wow pixFadeLeft" data-wow-delay="0.7s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/3.png' %}" alt="">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Scalable, Customizable, and Always Learning</a></h3>
                        <p class="mt-1">From trend analysis to automated forecasting, unlock the power of unlimited Ml-driven solutions for your business.</b></p>
                    </div>
                </div><!-- /.pixsass-box style-one -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>