{% load static %}
<section class="featured">
    <div class="container">
        <div class="section-title text-center wow pixFade">
            <h3 class="sub-title">How It Works</h3>
            <h2 class="title">Seamless AI-Powered Data Science in Three Steps</h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="saaspik-icon-box-wrapper style-one wow pixFadeLeft" data-wow-delay="0.3s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/1.png' %}" alt="" loading="lazy">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Effortless Data Upload</a></h3>
                        <p class="mt-1">Drag and drop your CSV, Excel, or raw datasets — we handle validation, versioning, and processing in the background, so you don’t have to.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="saaspik-icon-box-wrapper style-one wow pixFadeLeft" data-wow-delay="0.5s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/2.png' %}" alt="" loading="lazy">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">AI-Driven Insights & Reports</a></h3>
                        <p class="mt-1">We transform your data into <b>actionable metrics, predictions, and ML-driven reports</b> tailored to your business goals — all visualized on your dashboard.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="saaspik-icon-box-wrapper style-one wow pixFadeLeft" data-wow-delay="0.7s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/3.png' %}" alt="" loading="lazy">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Scalable, Adaptive, and Always Learning</a></h3>
                        <p class="mt-1">From weekly updates to advanced forecasting, our platform <b>adapts to new data and grows with your organization</b> — no retraining or redeployment needed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
