{% load static %}
<section class="generate-reports">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pix-order-one">
                <div class="section-title style-two">
                    <h2 class="title wow pixFadeUp">
                        Generate Unlimited Reports & Metrics with Ease
                    </h2>

                    <p class="wow pixFadeUp" data-wow-delay="0.3s">
                        Forget pay-per-report/project models. With our all-inclusive subscription, 
                        you can <b>request unlimited ML-powered reports, 
                        insights, and custom metrics</b>—without restrictions.
                    </p>
                </div><!-- /.section-title style-two -->

                <ul class="list-items wow pixFadeUp" data-wow-delay="0.4s">
                    <li>Instant access to deep data analysis</li>
                    <li>Custom reports tailored to your objectives</li>
                    <li>Unlimited requests—because your data needs never stop</li>
                </ul>

                <a href="{% url 'accounts:register' %}" class="pix-btn btn-outline wow pixFadeUp" data-wow-delay="0.5s">Start leveraging your data now!</a>
            </div><!-- /.col-lg-6 -->


            <div class="informes-feature-image">
                <div class="image-one" data-parallax='{"y" : 20}'>
                    <img src="{% static 'img/feature/5.png' %}" class="wow pixFadeDown" alt="informes">
                </div>

                <div class="image-two" data-parallax='{"y" : -20}'>
                    <img src="{% static 'img/feature/51.png' %}" class=" mw-none wow pixFadeDown" data-wow-delay="0.3s" alt="informes">
                </div>

            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="shape-bg">
        <img src="{% static 'img/background/shape.png' %}" class="wow fadeInRight" alt="shape-bg">
    </div>
</section>