{% load static %}
<section class="generate-reports">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pix-order-one">
                <div class="section-title style-two">
                    <h2 class="title wow pixFadeUp">
                        Unlimited Reports, Metrics, and Insights — On Demand
                    </h2>

                    <p class="wow pixFadeUp" data-wow-delay="0.3s">
                        Stop paying per report or hiring expensive consultants. 
                        <b>With ModelMint, you can request unlimited AI-powered reports, 
                        KPIs, forecasts, and custom metrics</b> — all included in your plan.
                    </p>
                </div><!-- /.section-title style-two -->

                <ul class="list-items wow pixFadeUp" data-wow-delay="0.4s">
                    <li>Instant access to advanced data analysis</li>
                    <li>Tailored reports aligned to your business goals</li>
                    <li>Unlimited requests — because your data questions never stop</li>
                </ul>

                <a href="{% url 'accounts:register' %}" class="pix-btn btn-outline wow pixFadeUp" data-wow-delay="0.5s">
                    Start leveraging your data today!
                </a>
            </div><!-- /.col-lg-6 -->

            <div class="informes-feature-image">
                <div class="image-one" data-parallax='{"y" : 20}'>
                    <img src="{% static 'img/feature/5.png' %}" loading="lazy" class="wow pixFadeDown" alt="Data Reports Illustration">
                </div>

                <div class="image-two" data-parallax='{"y" : -20}'>
                    <img src="{% static 'img/feature/51.png' %}" loading="lazy" class=" mw-none wow pixFadeDown" data-wow-delay="0.3s" alt="Reports Metrics Illustration">
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="shape-bg">
        <img src="{% static 'img/background/shape.png' %}" loading="lazy" class="wow fadeInRight" alt="Decorative Shape Background">
    </div>
</section>
