{% load static %}
<section class="pricing-hosting">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="title">Choose the Perfect Plan for Your Data Needs</h2>
            <p>
                Unlock the power of ML-driven analytics with a plan that fits your business.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="pricing-table style-three wow pixFadeLeft" data-wow-delay="0.5s">
                    <div class="pricing-header pricing-amount">
                        <h3 class="price-title">Starter Plan</h3>
                        <h2 class="price">Free Forever</h2>
                    </div>
                    <!-- /.pricing-header -->

                    <ul class="price-feture">
                        <li>Get an ML-generated report</li>
                        <li>No updates when new data is uploaded</li>
                        <li>Perfect for trying out our platform</li>
                    </ul>

                    <div class="action text-left">
                        <a href="#" class="pix-btn btn-outline-two">Free Demo</a>
                    </div>
                </div>
                <!-- /.pricing-table -->
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="pricing-table style-three wow pixFadeLeft" data-wow-delay="0.7s">
                    <div class="pricing-header pricing-amount">
                        <h3 class="price-title">ModelMint Pro</h3>
                        <h2 class="price">$ 299<span>/Month</span></h2>
                    </div>
                    <!-- /.pricing-header -->

                    <ul class="price-feture">
                        <li>Unlimited ML-generated reports & metrics</li>
                        <li> Automated updates whenever you upload new data</li>
                        <li>24/7 expert support</li>
                        <li>Up to 5 users – collaborate seamlessly</span></li>
                        <li>Custom dashboards to visualize insights</li>
                        <li>One Report Generation Request at a time</li>
                    </ul>

                    <div class="action text-left">
                        <a href="#" class="pix-btn btn-outline-two">Free Demo</a>
                    </div>
                </div>
                <!-- /.pricing-table -->
            </div>
            <!-- /.col-lg-4 -->
                
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.advanced-pricing-table -->
        {% include "includes/home/faqs.html" %}
    </div>
    <!-- /.container -->
</section>