{% load static %}
<section class="revolutionize">
    <div class="bg-angle"></div>
    <div class="container">
        <div class="section-title dark-title text-center">
            <!-- <h3 class="sub-title wow pixFadeUp">Updated Screen</h3> -->
            <h2 class="title wow pixFadeUp" data-wow-delay="0.3s">
                Transform raw data into meaningful reports, 
                actionable insights, and powerful machine learning models—all on autopilot.
            </h2>
        </div><!-- /.section-title dark-title -->

        <div id="pix-tabs" class="wow pixFadeUp" data-wow-delay="0.5s">
            <ul id="pix-tabs-nav">
                <li><a href="#tab1">Instant Data Processing </a></li>
                <li><a href="#tab2">Unlimited Reports & Metrics </a></li>
                <li><a href="#tab3">Seamless Integration </a></li>
                <li><a href="#tab4">7/24h Support</a></li>
            </ul> <!-- tabs-nav -->

            <div id="pix-tabs-content">
                <div id="tab1" class="content">
                    <img src="{% static 'img/revolutionize/2.jpg' %}" alt="revolutionize">

                    <div class="shape-shadow"></div>
                </div>
                <div id="tab2" class="content">
                    <img src="{% static 'img/revolutionize/1.jpg' %}" alt="revolutionize">
                    <div class="shape-shadow"></div>
                </div>
                <div id="tab3" class="content">
                    <img src="{% static 'img/revolutionize/3.jpg' %}" alt="revolutionize">
                    <div class="shape-shadow"></div>
                </div>

                <div id="tab4" class="content">
                    <img src="{% static 'img/revolutionize/4.jpg' %}" alt="revolutionize">
                    <div class="shape-shadow"></div>
                </div>
            </div> <!-- tabs-content -->
        </div> <!-- Tabs -->
    </div><!-- /.container -->
</section>