{% load static %}
<section class="featured-two">
    <div class="container">
        <div class="section-title text-center">
            <h3 class="sub-title wow pixFadeUp">Our services</h3>
            <h2 class="title wow pixFadeUp" data-wow-delay="0.2s">Why Choose Our Data Platform?</h2>
        </div><!-- /.section-title -->

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-two wow pixFadeRight" data-wow-delay="0.4s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/6.png' %}" loading="lazy" alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Automated Data Processing</a></h3>
                        <p>
                            Let AI handle the heavy lifting—upload your files and get structured insights instantly.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-two -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-two wow pixFadeRight" data-wow-delay="0.5s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/7.png' %}" loading="lazy" alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Customizable Reports & Metrics</a></h3>

                        <p>
                            Every business is unique. Request tailored analyses and get reports that fit your needs.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-two -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-two wow pixFadeRight" data-wow-delay="0.6s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/8.png' %}" loading="lazy" alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Multi-User Collaboration</a></h3>
                        <p>
                            Allow multiple team members to manage and analyze data without limitations.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-two -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-two wow pixFadeRight" data-wow-delay="0.7s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/9.png' %}" loading="lazy" alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Cost Efficient</a></h3>
                        <p>
                            Way more cheaper than hiring a data scientist, and receiving a lot more value! 
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-two -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-two wow pixFadeRight" data-wow-delay="0.8s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/10.png' %}" loading="lazy" alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">Seamless UI/UX Experience</a></h3>
                        <p>
                            Designed for efficiency—no coding required, just results.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-two -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-two wow pixFadeRight" data-wow-delay="0.9s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'img/feature/11.png' %}" loading="lazy" alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title"><a href="#">24/7 Expert Support</a></h3>
                        <p>
                            Need help? Our data experts are always available to assist you.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-two -->
            </div><!-- /.col-lg-4 col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>