{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

<!-- #2bba64, #3be37e, #6aba8a, #f2faf2, #0db851, #bfffd9 -->

{% block content %}

{% include "includes/home/banner.html" %}

{% include "includes/home/feature.html" %}

{% include "includes/home/editor-design.html" %}

{% include "includes/home/generate-reports.html" %}

{% include "includes/home/revolutionize.html" %}

{% include "includes/home/services.html" %}

<!-- Include here testimonials -->

{% include "includes/home/pricing.html" %}

{% include "includes/home/cta.html" %}

{% endblock content %}